.jumbotron
{
    background-color: palevioletred;
    color: yellow;
    font-family: 'Kufam', cursive;
}

body
{
    font-family: 'Lexend Peta', sans-serif;
    background-color: #FFEFD5;
    font-weight: bold;
}

input:hover
{
    background-color: yellow;
}

textarea:hover
{
    background-color: yellow;
}